@page
@using todolistApp.Models
@model todolistApp.Pages.EditionModel
@{}<h3>Editor</h3>

<div class="row">

  <div class="col-6 mt-3">
    <h5>Add a new todo</h5>
<form class="form" action="" method="post">
    <div class="form-group mt-3">
        <label for="title">Title</label>
        <input class="form-control" type="text" name="title" id="" asp-for="Title" required>
    </div>
        <div class="form-group mt-3">
        <label for="Description">Description</label>
        <textarea class="form-control" name="Description" id="" asp-for="Description" cols="20" rows="5"></textarea>
    </div>
    <div  class="mt-3">
        <button type="submit" class="btn btn-outline-primary">Save</button>
    </div>
</form>
      </div>

      <div class="col-6 mt-3 text-center">
        <h5>Todos list</h5>
        <table class="table">
          <thead>
            <tr>
              <th>Done</th>
              <th>task N°</th>
              <th>Title</th>
              <th>State</th>
            </tr>
          </thead>
          <tbody>
        @foreach (Todo task in Model.taskList)
        {
            <tr>
                <td>@Html.CheckBox("IsComplete",(task.IsTaskComplete))</td>
                <td>@task.Id</td>
                <td>@task.Title</td>
                <td>@(task.IsTaskComplete?"Task complete":"Task to be done")</td>
                <td><a asp-page="/detail" asp-route-id="@task.Id"><small>More detail</small></a></td>
            </tr>
        }
          </tbody>
        </table>

      </div>

    </div>
